In [1]:
from doublets import *

In [2]:
%load_ext autoreload
%autoreload 2

In [8]:
get_doublets()

   table_values  degrees  lambdas
0         616.1     3022    615.6
1         615.4     3021    615.3
2         589.6     2903    589.2
3         589.0     2901    588.8
4         568.9     2796    568.5
5         568.8     2794    568.1
6         515.4     2442    514.9
7         514.9     2442    514.9
8         498.3     2302    498.1
9         497.9     2301    498.0