In [11]:
from doublets import *

In [12]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
df = get_doublets()
df

   table_values  degrees  lambdas  deltas_table  deltas_measured
0         616.1     3022    615.6           0.7              0.3
1         615.4     3021    615.3          25.8             26.1
2         589.6     2903    589.2           0.6              0.4
3         589.0     2901    588.8          20.1             20.3
4         568.9     2796    568.5           0.1              0.4
5         568.8     2794    568.1          53.4             53.2
6         515.4     2442    514.9           0.5              0.0
7         514.9     2442    514.9          16.6             16.8
8         498.3     2302    498.1           0.4              0.1
9         497.9     2301    498.0           NaN              NaN

In [14]:
df["difference"] = abs(df["table_values"] - df["lambdas"])

In [15]:
df

   table_values  degrees  lambdas  deltas_table  deltas_measured  difference
0         616.1     3022    615.6           0.7              0.3         0.5
1         615.4     3021    615.3          25.8             26.1         0.1
2         589.6     2903    589.2           0.6              0.4         0.4
3         589.0     2901    588.8          20.1             20.3         0.2
4         568.9     2796    568.5           0.1              0.4         0.4
5         568.8     2794    568.1          53.4             53.2         0.7
6         515.4     2442    514.9           0.5              0.0         0.5
7         514.9     2442    514.9          16.6             16.8         0.0
8         498.3     2302    498.1           0.4              0.1         0.2
9         497.9     2301    498.0           NaN              NaN         0.1

In [16]:
df["difference"]

0    0.5
1    0.1
2    0.4
3    0.2
4    0.4
5    0.7
6    0.5
7    0.0
8    0.2
9    0.1
Name: difference, dtype: float64