In [1]:
from spread import *

In [2]:
%load_ext autoreload
%autoreload 2

In [4]:
get_spread()

      I     B     dU
0  0.00  0.00  0.000
1  0.26  0.18  0.073
2  0.38  0.28  0.089
3  0.51  0.39  0.109
4  0.77  0.57  0.148
5  0.98  0.67  0.176